У пользователя запрашивается число, и в результате программа сообщает, является ли это число положительным четным, положительным нечетным, отрицательным или нулём.

In [ ]:
num = float(input("Введите число: "))

if num > 0:
  # Определяем четное или не четное число
  adjective = " "
  if num % 2 == 0:
    adjective = "четное"
  else:
    adjective = "нечетное"
  res = "Это " + adjective + " положительное число"
elif  num < 0:
  res = "Введено отрицательное число"
else:
  res = "Введен ноль"

print(res)

Введите число: 99
Это нечетное положительное число

Здесь ползователь будет вводить число, и получать сообщение, положительное или отрициательное число он ввел, до тех пор, пока не введет нель.

In [ ]:
num = int(input("Inter a number (0 to exit) "))

while num != 0:
    if num > 0:
        print("This is a positive number")
    else:
        print("This is a negative number")

    num = int(input("Inter a number (0 to exit) "))

Inter a number (0 to exit) 99
This is a positive number
Inter a number (0 to exit) -99
This is a negative number
Inter a number (0 to exit) 0

Используем цикл for совместно с функцией range для вывода на экран всех значений, кратных трем, от нуля и до введенного пользователем числа, включая его:

In [ ]:
limit = int(input("Введите целое число: "))
print("Все числа, кратные трем до", limit, ":")

for i in range(3, limit + 1, 3):
    print(i)

Введите целое число: 21
Все числа, кратные трем до 21 :
3
6
9
12
15
18
21

В следующем фрагменте кода цикл for вложен в тело цикла while для повторения фразы, введенной пользователем, определенное количество раз, пока им не будет введена пустая строка.

In [ ]:
message = input("Введите сообщение, или оставьте его пустым для выхода: ")

while message != "":
    nm = int(input("Сколько раз повторить сообщение? нажмите 0 для выхода "))

    if nm < 0:
        print("Число повторений должно быть положительним")
        continue
    elif nm == 0:
        break

    for i in range(nm):
        print(message)

    message = input("Введите сообщение, или оставьте его пустым для выхода: ")

Введите сообщение, или оставьте его пустым для выхода: Baghdad
Сколько раз повторить сообщение? нажмите 0 для выхода 3
Baghdad
Baghdad
Baghdad
Введите сообщение, или оставьте его пустым для выхода: Iraq
Сколько раз повторить сообщение? нажмите 0 для выхода 0

В следующем фрагменте кода цикл for используется для суммирования элементов из списка:

In [ ]:
# Инициализируем переменные list_nums and sum
list_nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sum = 0

# Сумируем значения в списке
for value in list_nums:
    sum = sum + value

print("Сумма элиментов списка list_nums = ", sum)

Сумма элиментов списка list_nums =  45

 Нужно определить позицию элемента списка с наибольшим значением, для этого нам необходимо сделать перебор по индексам, пропустив нулевой индекс:

In [ ]:
# Инициализируем переменные data и largest_pos
data = [2, 1, 3, 1.5]
largest_pos = 0

for i in range(1, len(data)):
    if data[i] > data[largest_pos]:
        largest_pos = i

print('The largest position is', data[largest_pos], 'in the index', largest_pos)

The largest position is 3 in the index 2

Поиск наименьшего значения

In [ ]:
# Инициализируем переменные data и smallest_pos

data = [5.67, 4.32, 2.18, 3.99]
smallest_pos = 0

for i in range(1, len(data)):
    if data[i] < data[smallest_pos]:
        smallest_pos = i

print('The smallest position is', data[smallest_pos], 'at the index', smallest_pos)

The smallest position is 2.18 at the index 2

Поиск максимальной длины стракой

In [ ]:
# Инициализируем переменные data и longest_pos
data = ["apple", "banana", "kiwi", "strawberry"]
longest_pos = 0

for i in range(1, len(data)):
    if len(data[i]) > len(data[largest_pos]):
        longest_pos = i

print('The maximum length of line is', len(data[longest_pos]), 'at the index', longest_pos)

The maximum lingth of line is 10 at the index 3

Поиск наибольшего числа в списке целых чисел

In [ ]:
# Инициализируем переменные data и largest_pos
data = [10, 20, 5, 30]
largest_pos = 0

for i in range(1, len(data)):
    if data[i] > data[largest_pos]:
        largest_pos = i

print('The largest number in the list is', data[largest_pos], 'at the index', largest_pos)

The largest number in the list is 30 at the index 3

Let's make the same, using while

In [ ]:
# Инициализируем переменные data и largest_pos
data = [1.62, 1.41, 3.14, 2.71]
largest_pos = 0
i = 1

# Находим позицию элемента с наибольшим значением
while i < len(data):
    if data[i] > data[largest_pos]:
        largest_pos = i
    i = i + 1

print('The largest value is', data[largest_pos], 'at the index', largest_pos)

The largest value is 3.14 at the index 2

Some tasks using dictionaries

In [ ]:
mix = {"fly": 5, "cutlet": 6}
total = 0

for x in mix.values():
    total = total + x

print("The total of mix values =", total)

The total of mix values = 11

In [ ]:
# Сортировка словаря на основе функции len
l1 = {'carrot': 'vegetable', 'red': 'color', 'apple': 'fruit'}

print(sorted(l1, key=len))
print(sorted(l1.values(), key=len))

l1 = ['blue', 'green', 'red', 'orange']
print(sorted(l1, key=len))

['red', 'apple', 'carrot']
['color', 'fruit', 'vegetable']
['red', 'blue', 'green', 'orange']

In [ ]:
BABY_PRICE = 0.00
CHILD_PEICE = 140
ADULT_PRICE = 230
SENIOR_PRICE = 180

BABY_LIMIT = 2
CHILD_LIMIT = 12
ADULT_LIMIT = 64

total = 0

line = input('Inter your age (or a space to exit): ')

while line != "":
    age = int(line)

    if age <= BABY_LIMIT:
      total = total + BABY_PRICE
    elif age <= CHILD_LIMIT:
      total = total + CHILD_PEICE
    elif age <= ADULT_LIMIT:
      total = total + ADULT_PRICE
    else:
      total = total + SENIOR_PRICE

    line = input('Inter your age (or a space to exit): ')

print(total)

Inter your age (or a space to exit): 2
Inter your age (or a space to exit): 12
Inter your age (or a space to exit): 64
Inter your age (or a space to exit): 99
Inter your age (or a space to exit):
550.0

 Билеты в зоопарк

In [ ]:
BABY_PRICE = 0.00
CHILD_PEICE = 140
ADULT_PRICE = 230
SENIOR_PRICE = 180

BABY_LIMIT = 2
CHILD_LIMIT = 12
ADULT_LIMIT = 64

total = 0

age_line = input("Введите возраст посетителя (или пустая строка для оканчания ввода): ")
while age_line != "":
    age = int(age_line)

    if age <= BABY_LIMIT:
      total = total + BABY_PRICE
    elif age <= CHILD_LIMIT:
      total = total + CHILD_PEICE
    elif age <= ADULT_LIMIT:
      total = total + ADULT_PRICE
    else:
      total = total + SENIOR_PRICE

    age_line = input("Введите возраст посетителя (или пустая строка для оканчания ввода): ")

print("The total price of visitors: ", total, "₽")
print("The total price for this group of visitors is %.2f rubles" % total)

Введите возраст посетителя (или пустая строка для оканчания ввода): 2
Введите возраст посетителя (или пустая строка для оканчания ввода): 12
Введите возраст посетителя (или пустая строка для оканчания ввода): 64
Введите возраст посетителя (или пустая строка для оканчания ввода): 99
Введите возраст посетителя (или пустая строка для оканчания ввода):
The total price of visitors:  550.0 ₽
The total price for this group of visitors is 550.00 rubles

In [ ]:
## Порядок сортировки

nums = []

ints = int(input("Input ints nums (or 0 to exit): "))

while ints != 0:
    nums.append(ints)
    ints = int(input("Input ints nums (or 0 to exit): "))

nums.sort()

for ints in nums:
    print(ints)

Input ints nums (or 0 to exit): 9
Input ints nums (or 0 to exit): 8
Input ints nums (or 0 to exit): 7
Input ints nums (or 0 to exit): 0
7
8
9

In [ ]:
# Случайные лотерейные номера

import random

# Задаем диапазон
n = 49  # Максимальное число
k = 6   # Количество случайных чисел

# Генерируем случайные числа без дубликатов
random_numbers = random.sample(range(1, n + 1), k)

print(random_numbers)

[11, 17, 30, 43, 10, 2]

random.sample()

In [ ]:
import random

listt = [1, 2, 3, 4, 5]
print(random.sample(listt, 3)) # []

[1, 5, 4]

Выбор случайных элементов из строки

In [ ]:
my_string = "Ahmed Fadil yoo"

some_elemnts = random.sample(my_string, 9) # []
print(some_elemnts)

['h', 'y', 'e', 'a', 'd', 'F', 'o', 'A', ' ']

In [ ]:
# Выбор из множство

import random

my_set = {10, 20, 30, 40, 50}

sample_nums = random.sample(my_set, 3)
print(sample_nums)

[10, 20, 30]

<ipython-input-6-3bc90c3a0f49>:7: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  sample_nums = random.sample(my_set, 3)

random.randrange()

In [ ]:
import random

random_nums = random.randrange(1, 27, 3)
print(random_nums)

25

In [ ]:
# Решение
#@title Решение
##
# Собираем уникальные случайные номера для лотерейного билета
#
from random import randrange
MIN_NUM = 1
MAX_NUM = 49
NUM_NUMS = 6

# Используем список для хранения номеров лотерейного билета
ticket_nums = []

# Генерируем NUM_NUMS случайных, но уникальных значений
for i in range(NUM_NUMS):
    # Генерируем номер, которого еще нет в списке
    rand = randrange(MIN_NUM, MAX_NUM + 1)
    while rand in ticket_nums:
        # Будем перегенерировать число, пока оно есть в списке
        rand = randrange(MIN_NUM, MAX_NUM + 1)
    ticket_nums.append(rand)

# Сортируем номера по возрастанию и отображаем их
ticket_nums.sort()
# print("Номера вашего билета: ", end="")
# for n in ticket_nums:
#     print(n, end=" ")
# print()

print("Номера вашего билета: ", *ticket_nums)

Номера вашего билета:  7 12 14 16 37 42

In [ ]:
# Решение (более элегантное с применением множеств)

# Собираем уникальные случайные номера для лотерейного билета
from random import randrange
MIN_NUM = 1
MAX_NUM = 49
NUM_NUMS = 6

# Используем список для хранения номеров лотерейного билета
ticket_nums = set()

# Генерируем NUM_NUMS случайных, но уникальных значений
while len(ticket_nums) < NUM_NUMS:
    # Генерируем номер, которого еще нет в списке
    ticket_nums.add(randrange(MIN_NUM, MAX_NUM + 1))

# Сортируем номера по возрастанию и отображаем их
ticket_nums = sorted(ticket_nums)

print("Номера вашего билета: ", end="")
for n in ticket_nums:
    print(n, end=" ")

In [ ]:
#@title Решение (более элегантное с применением множеств)
##
# Собираем уникальные случайные номера для лотерейного билета
#
from random import randrange
MIN_NUM = 1
MAX_NUM = 49
NUM_NUMS = 6

# Используем список для хранения номеров лотерейного билета
ticket_nums = set()
# Генерируем NUM_NUMS случайных, но уникальных значений
while len(ticket_nums) < NUM_NUMS:
    # Генерируем номер, которого еще нет в списке
    ticket_nums.add(randrange(MIN_NUM, MAX_NUM + 1))

# Сортируем номера по возрастанию и отображаем их
ticket_nums = sorted(ticket_nums)

print("Номера вашего билета: ", end="")
for n in ticket_nums:
    print(n, end=" ")

Номера вашего билета: 6 9 13 19 25 42

In [ ]:
# Уникальные символы

s = input("Inter a string: ")

dic_s = {}

for i in s:
  dic_s[i] = True

print("Unique letters are ", len(dic_s))

Inter a string: Russian Federation
Unique letters are  13

In [ ]:
s = input("Inter a string of letters, as a word: ")

dic = {}

for i in s:
  dic[i] = True

print(len(dic))

Inter a string of letters, as a word: Hello
4

In [ ]:
if 3 < 5:
  print(999)

999

In [ ]:
if not 3:
  print(999)

In [ ]:
s = False
if not s:
  print(999)

999

In [ ]:
message = "Hi there"
a = 0

if a:
  print(message)

In [ ]:
b = -1
if b:
  print(message)

Hi there

In [ ]:
x = 1
if x:
  print(message)

Hi there

In [ ]:
def my_name(name):
  if len(name) < 6:
    return name.upper()
  else:
    return name.lower()

name = "Ahmed"
my_name(name)

'AHMED'

In [13]:
def num_info(num):
    if num > 0:
        print("Greater than zero")
        if num > 9:
            print("Alos greater than 9")
    num = 15

num_info(num)

# num = 15
# num_info(15)

Greater than zero
Alos greater than 9

In [17]:
a = True
b = [1, 2, 3]


if a and b:
  print(True)


if a is True:
  print(True)


if b is True:
  print(True)
else:
  print(False) # False, because b does not contain the actual value of True

True
True
False

In [18]:
n = -9

x = "Positive" if n >= 0 else "Negative"
print(x)

Negative

In [36]:
if n:
  print("There is an abject")

There is an abject

In [20]:
age = 27
experience = 6

if age >= 20 and experience >= 5:
  print("We take this professional programmer")
else:
  print("We don't take this programmer")

We take this professional programmer

In [21]:
if 30 <= age >= 27:
    print("Hello")
else:
    print("Hiiiiiiiiiiii")

Hiiiiiiiiiiii

In [34]:
x = int(input())

if x >= 27:
  if x > 27:
    print("x is greater than 27")
  else:
    print("x is equal to 27")
else:
  print("x is less than 27")

30
x is greater than 27

In [35]:
# Код определяющий четверть координатной плоскости

x = int(input())
y = int(input())
if x > 0 and y > 0:
    print("Первая четверть")
elif x > 0 and y < 0:
    print("Четвертая четверть")
elif y > 0:
    print("Вторая четверть")
else:
    print("Третья четверть")

5
6
Первая четверть

In [38]:
alist = [1, 2, 3, 4, 5]

True if len(alist) > 4 else False

True

In [41]:
# Угадайка

x = 9
y = int(input())

if x == y:
  print("Вы угадали")
else:
  print("Вы не угадали")

27
Вы не угадали

In [42]:
a = 9
b = 10

print("A") if a > b else print("=") if a == b else print("B")

B

In [45]:
if a > b:
  pass

In [46]:
print(ord("A"))

65

In [47]:
print(chr(65))

A

In [51]:
color = input()

match color:
    case "red" | "green":
      print(1)
    case "white" | "black":
      print(2)
    case _:
      print("Another color")

Yellow
Another color

In [56]:
a = 1
b = 2
c = 3

print(max(a, b, c))
print(min(a, b, c))
print(max(1, 2, 3))
print(min(1, 2, 3))

3
1
3
1

In [60]:
# RIGHT AND WRONG PASSOWRDS

saved_pwd = "right passowrd"
pwd = input("Inter your passowrd: ")

while pwd != saved_pwd:
    print("You entered a wrong passowrd")
    pwd = input("Inter your passowrd: ")

print("The passowrd is correct, login is allowed")

Inter your passowrd: abcdef
You entered a wrong passowrd
Inter your passowrd: right passowrd
The passowrd is correct, login is allowed

In [62]:
saved_passowrd = "right passowrd"

while input("inter your passowrd: ") != saved_passowrd:
    pass

print("The passowrd is corredt, login is allowed")

inter your passowrd: abcdef
inter your passowrd: 12345
inter your passowrd: right passowrd
The passowrd is corredt, login is allowed

In [65]:
name = input()

while name != "Finish":
  print("Hi", name)
  name = input()

print("Good bye")

Ahmed
Hi Ahmed
Fadil
Hi Fadil
Finish
Good bye

In [66]:
while (name := input("Inter a name: ")) != "stop":
  print("Hi", name)

print("bye")

Inter a name: ahmed
Hi ahmed
Inter a name: fadilsa
Hi fadilsa
Inter a name: stop
bye

In [5]:
n = int(input("Inter a number: "))
for i in range(n):
  print(i)

Inter a number: 9
0
1
2
3
4
5
6
7
8

In [8]:
x = int(input("inter the start of the range: "))
y = int(input("inter the end of the range: "))

for i in range(x, y + 1):
    print(i)

inter the start of the range: 2
inter the end of the range: 9
2
3
4
5
6
7
8
9

In [10]:
for i in range(x, y, 3):
  print(i)

2
5
8

In [23]:
w = int(input("inter a number: "))
for i in range(w, -1, -1):
  print(i)

inter a number: 9
9
8
7
6
5
4
3
2
1
0

In [26]:
# r = int(input("Inter a num: "))
for i in range(10, 1, -1):
  print(i)

10
9
8
7
6
5
4
3
2

In [27]:
i = 1
for color in 'red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'violet':
    print(i,'-th color of rainbow is ', color, sep = '')
    i += 1

1-th color of rainbow is red
2-th color of rainbow is orange
3-th color of rainbow is yellow
4-th color of rainbow is green
5-th color of rainbow is cyan
6-th color of rainbow is blue
7-th color of rainbow is violet

In [28]:
n = 0
l = ['aa', 'bb', 'cc', 'dd', 'ee']

for letters in l:
    print(n, letters)
    n += 1

0 aa
1 bb
2 cc
3 dd
4 ee

In [34]:
nums = 10
for i in 'one', 'two', 'three', 'four', 'five':
    print(f"{nums} =========*=*=*=*=*=*=*=*=*=========> {i}")
    nums += 10

10 =========*=*=*=*=*=*=*=*=*=========> one
20 =========*=*=*=*=*=*=*=*=*=========> two
30 =========*=*=*=*=*=*=*=*=*=========> three
40 =========*=*=*=*=*=*=*=*=*=========> four
50 =========*=*=*=*=*=*=*=*=*=========> five

In [36]:
for i in range(9):
    print("Python is the most using language in DATA SCIENCE")

Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE
Python is the most using language in DATA SCIENCE

In [42]:
for i in "Python is the most using language in DATA SCIENCE":
    print(i, end=" ")

P y t h o n   i s   t h e   m o s t   u s i n g   l a n g u a g e   i n   D A T A   S C I E N C E

In [55]:
a1 = ['1', '2', '3', '4', '5']
a2 = [' =========>>> a', ' =========>>> b', ' =========>>> c', ' =========>>> d', ' =========>>> e']

for i in a1:
  print("\n")
  for s in a2:
    print(i + s)

1 =========>>> a
1 =========>>> b
1 =========>>> c
1 =========>>> d
1 =========>>> e


2 =========>>> a
2 =========>>> b
2 =========>>> c
2 =========>>> d
2 =========>>> e


3 =========>>> a
3 =========>>> b
3 =========>>> c
3 =========>>> d
3 =========>>> e


4 =========>>> a
4 =========>>> b
4 =========>>> c
4 =========>>> d
4 =========>>> e


5 =========>>> a
5 =========>>> b
5 =========>>> c
5 =========>>> d
5 =========>>> e

In [61]:
ss = 'a great play'

for i in ss:
    if not i.isalpha():
      break
      print(i, end=', ')

In [64]:
st = '32ey.5yhsf$h%owe82038e-3q0dwaefsfdgfhyfWfd9fG'
for i in st:
    if i.isdigit() and int(i) > 8:
        print('ss')

ss

In [1]:
fruits = ['apple', 'banana', 'cherry']

for i in fruits:
  print(i)

apple
banana
cherry

In [3]:
for i in range(9):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8

In [7]:
for i in 'Fadilsa':
  print(i, end='')

Fadilsa

In [11]:
dic = {'First': 111, 'Second': 222, 'Third': 333}

for i in dic:
  print(i)

First
Second
Third

In [15]:
num = 0

while num < 10:
    print(num, end=' ')
    num += 1

0 1 2 3 4 5 6 7 8 9

In [17]:
while True:
    print('Этот цикл без конечный!')
    break # Прерывем цикл

Этот цикл без конечный!

In [22]:
i = 0

while i < 10:
  i += 1
  if i % 2 == 0:
      continue
  print(i)

1
3
5
7
9

In [24]:
for i in range(10):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

In [25]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [31]:
for i in range(9):
    print(i)
else:
    print('Цикл завершен без прерывания')

0
1
2
3
4
5
6
7
8
Цикл завершен без прерывания

In [32]:
for i in range(9):
    if i == 5:
        break
    print(i)
else:
    print('Цикл завершен без прерывания')

0
1
2
3
4

In [39]:
for i in range(0, 5):
    for j in range(0, 5):
        print(f'{i} * {j} = {i * j}')
    print('---------')

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
---------
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
---------
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
---------
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
---------
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
---------

Практическое задание
Попробуйте написать программу, которая находит сумму всех чисел от 1 до 100, используя оба типа циклов.

In [52]:
total = 0
for i in range(1, 100 + 1):
    print(i, end=' ')
    # total = total + i
    total += i
print('\n', total)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
 5050

In [53]:
total = 0
i = 1
while i < 101:
    print(i, end=' ')
    total += i
    i += 1
print('\n', total)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
 5050