FUNCTIONS

In [ ]:
# Рисуем прямоугольник

def drawRectangle(width, hight):
    if width > 2 and hight > 2:
        print(' * ' * width)
        for i in range(hight - 2):
            print(' * ' + '   ' * (width - 2) + ' * ')
        print(' * ' * width)

drawRectangle(6, 8)

 *  *  *  *  *  *
 *              *
 *              *
 *              *
 *              *
 *              *
 *              *
 *  *  *  *  *  *

In [ ]:
def rectangle(width, hight):
    if width > 2 and hight > 2:

        # Рисуем верхнюю линию прямоугольника
        print(' ~ ' * width)

        # Рисуем стороны прямоугольника
        for i in range(hight - 2):
            print(' ~ ' + '   ' * (width - 2) + ' ~ ')

        # Рисуем верхнюю линию прямоугольника
        print(' ~ ' * width)

rectangle(6, 8)

 ~  ~  ~  ~  ~  ~
 ~              ~
 ~              ~
 ~              ~
 ~              ~
 ~              ~
 ~              ~
 ~  ~  ~  ~  ~  ~

In [ ]:
# Вывод информации о пользователе

# Создать функцию, которая принимает произвольное количество
# именованных аргументов и выводит их в формате "ключ: значение".

def info(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

# print(f'Fill your informations: ', name='Ahmed', city='Baghdad', job='System administrator', salary='1000$')
info(name='Ahmed', city='Baghdad', job='System administrator', salary='1000$')

name: Ahmed
city: Baghdad
job: System administrator
salary: 1000$

Смотрим является ли число простым

In [ ]:
# Функция проверяет, является ли число простым.В случае, если число простое - вернет True, иначе вернет False

def isPrime(n):
# 1-
    if n <= 1:
        return False
    # Проверяем все числа от 2 до n, не включая его, на деленеие n на них без остатка
# 2-
    for i in range(2, n):
      if n % i == 0:
          return False
# 3-
    return True


value = int(input("Введите целое число: "))
if isPrime(value):
    # return f'{value} -простое число.'
    print(value, 'is a prime number')
else:
    # return f'{value} -не является простое число'
    print(value, 'is not a prime number')

Введите целое число: 13
13 is a prime number

In [15]:
def intro(**kwargs):
    print()
    print('Тип данных kwargs: ', type(kwargs))
    print(kwargs.items())
    if 'firstname' in kwargs:
        print('Имя:', kwargs['firstname'])
    for key, value in kwargs.items():
        print("{} is {}".format(key, value))

intro(firstname='Ahmed', lastname='Fadilsa', age=22)
intro(name='Ali', job='coder', city='Baghdad', salary=5000)

Тип данных kwargs:  <class 'dict'>
dict_items([('firstname', 'Ahmed'), ('lastname', 'Fadilsa'), ('age', 22)])
Имя: Ahmed
firstname is Ahmed
lastname is Fadilsa
age is 22

Тип данных kwargs:  <class 'dict'>
dict_items([('name', 'Ali'), ('job', 'coder'), ('city', 'Baghdad'), ('salary', 5000)])
name is Ali
job is coder
city is Baghdad
salary is 5000

In [14]:
def funDic(**kwargs):
    print(kwargs.items())

funDic(n1='One', n2='Two', n3='Three')

dict_items([('n1', 'One'), ('n2', 'Two'), ('n3', 'Three')])

In [ ]:
def fun(name, age):
    # return name, age
    print(name, age)

# print(fun('Fadilsa', 22))
value = fun('Fadilsa', 22)
# print(value)

Fadilsa 22

In [ ]:
def fun(lst):
  lst.append(99)

my_list = [1, 2, 3, 4, 5]
fun(my_list)
print(my_list)

[1, 2, 3, 4, 5, 99]

In [20]:
def powNums(a, b):
    print(a ** b)

powNums(2, 9)

512

In [19]:
powNums = lambda a, b: a ** b
print(powNums(2, 9))

512

In [1]:
print()
print('Hiii')
print()

Hiii

In [2]:
print('Hiii')

Hiii

In [ ]:
def fun(num):
  num += 10

my_num

In [ ]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

info(key1='value1', key2='value2', key3='value3')

key1: value1
key2: value2
key3: value3

In [ ]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

info(name='Fadilsa', age=25, city='Baghdad')

name Fadilsa
age 25
city Baghdad

In [ ]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

info(name='Ali', age='22', city='Baghdad')

name Ali
age 22
city Baghdad

In [ ]:
def fun():
  return 9

n = fun()
print(n)

9

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
def funo():
  print('hiiiiiiii')

funo()
funo()
funo()
funo()
funo()

hiiiiiiii
hiiiiiiii
hiiiiiiii
hiiiiiiii
hiiiiiiii

In [ ]:
def fun():
  return 'hiiiiiiiiii'

fun()

'hiiiiiiiiii'

In [ ]:
def greet(name):
  print(f'Hello, {name}')

greet('Sara')
greet('Ali')
greet('Cat')
greet('Son yoo')
greet('Putin')
greet('Saddam')
greet('My love')

Hello, Sara
Hello, Ali
Hello, Cat
Hello, Son yoo
Hello, Putin
Hello, Saddam
Hello, My love

In [ ]:
def sum(x, y):
  return x * y

print(sum(1, 2))

2

In [ ]:
def nums(a, b):
  return f'hi {a}, my name is {b}'
# nums('Saly', 'Fadil')
nums(b='Fadil', a='Saly')

'hi Saly, my name is Fadil'

In [ ]:
def s(a='ss'):
  return(f"it's {a}")
# s()
# s(a='aa')
print(s(a='aa'))

it's aa

In [ ]:
def fun(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

print(fun(1, 2, 3))

6

In [ ]:
def funo(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

print(funo(1, 2, 3, 4, 5))

15

In [ ]:
def func(*args):
  total = 0
  for i in args:
    total += i
  print(total)

func(1, 2, 3)
func(2, 4, 6)
func(3, 6, 9)

6
12
18

In [ ]:
def KeyWordsArgs(**kwargs):
  for key, value in kwargs.items():
    # print(key, value)
    print(f"{key}: {value}")

KeyWordsArgs(first=1, second=2)

first: 1
second: 2

In [ ]:
def fun(myfun):
  print(f'this is my {myfun}')

fun('function')

this is my function

In [ ]:
def fun(myfun):
  return f'this is my {myfun}'

print(fun('function'))

this is my function

In [ ]:
def fun(myfun1, myfun2):
  return f'these are my functions: {myfun1} and {myfun2}'

fun('function one', 'function two')

'these are my functions: function one and function two'

In [ ]:
def sumNums(n1, n2, n3):
  return f'Num1 + Num2 - Num3 == {n1 + n2 - n3}'

# sumNums(10, 20, 3)
print(sumNums(10, 20, 3))

Num1 + Num2 - Num3 == 27

In [ ]:
def funs(fun1, fun2, fun3):
  return f'total: {fun1 + fun2 + fun3}'

print(funs(fun1=2, fun2=5, fun3=2))

total: 9

In [ ]:
def funs(fun1, fun2='Fadilsa'):
    return f'{fun1} and {fun2}'

# print(funs(fun1='Ahmed'))
print(funs('Ahmed'))

Ahmed and Fadilsa

In [ ]:
def funs(*args):
  return args

print(funs(1, 2, 3, 4, 5))

(1, 2, 3, 4, 5)

In [ ]:
def fun(*args):
  return args

fun(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [ ]:
def fun(*args):
  return sum(args)

# fun(1, 2, 3, 4, 5)
# fun(f'{1, 2, 3, 4}')
print('The sum of all nums:', fun(1, 2, 3, 4, 5))

The sum of all nums: 15

In [ ]:
def fun(**kwargs):
  for key, value in kwargs.items():
    print(f'{key} = {value}')

fun(name='Ali', age=22, city='Baghdad')
# fun(name('Ahmed', age=27, city='Izhevsk'))

name = Ali
age = 22
city = Baghdad