FUNCTIONS, CLASSES AND OBJECTS. SOFTWARE MODELS

In [ ]:
# Рисуем прямоугольник

def drawRectangle(width, hight):
    if width > 2 and hight > 2:
        print(' * ' * width)
        for i in range(hight - 2):
            print(' * ' + '   ' * (width - 2) + ' * ')
        print(' * ' * width)

drawRectangle(6, 8)

 *  *  *  *  *  *
 *              *
 *              *
 *              *
 *              *
 *              *
 *              *
 *  *  *  *  *  *

In [ ]:
def rectangle(width, hight):
    if width > 2 and hight > 2:

        # Рисуем верхнюю линию прямоугольника
        print(' $ ' * width)

        # Рисуем стороны прямоугольника
        for i in range(hight - 2):
            print(' $ ' + '   ' * (width - 2) + ' $ ')

        # Рисуем верхнюю линию прямоугольника
        print(' $ ' * width)

rectangle(6, 8)

 $  $  $  $  $  $
 $              $
 $              $
 $              $
 $              $
 $              $
 $              $
 $  $  $  $  $  $

In [ ]:
# Вывод информации о пользователе

# Создать функцию, которая принимает произвольное количество
# именованных аргументов и выводит их в формате "ключ: значение".

def info(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

# print(f'Fill your informations: ', name='Ahmed', city='Baghdad', job='System administrator', salary='1000$')
info(name='Ahmed', city='Baghdad', job='System administrator', salary='1000$')

name: Ahmed
city: Baghdad
job: System administrator
salary: 1000$

Смотрим является ли число простым

In [ ]:
# Функция проверяет, является ли число простым.В случае, если число простое - вернет True, иначе вернет False

def isPrime(n):
# 1-
    if n <= 1:
        return False
    # Проверяем все числа от 2 до n, не включая его, на деленеие n на них без остатка
# 2-
    for i in range(2, n):
      if n % i == 0:
          return False
# 3-
    return True


value = int(input("Введите целое число: "))
if isPrime(value):
    # return f'{value} -простое число.'
    print(value, 'is a prime number')
else:
    # return f'{value} -не является простое число'
    print(value, 'is not a prime number')

Введите целое число: 13
13 is a prime number

In [ ]:
def intro(**kwargs):
    print()
    print('Тип данных kwargs: ', type(kwargs))
    print(kwargs.items())
    if 'firstname' in kwargs:
        print('Имя:', kwargs['firstname'])
    for key, value in kwargs.items():
        print("{} is {}".format(key, value))

intro(firstname='Ahmed', lastname='Fadilsa', age=22)
intro(name='Ali', job='coder', city='Baghdad', salary=5000)

Тип данных kwargs:  <class 'dict'>
dict_items([('firstname', 'Ahmed'), ('lastname', 'Fadilsa'), ('age', 22)])
Имя: Ahmed
firstname is Ahmed
lastname is Fadilsa
age is 22

Тип данных kwargs:  <class 'dict'>
dict_items([('name', 'Ali'), ('job', 'coder'), ('city', 'Baghdad'), ('salary', 5000)])
name is Ali
job is coder
city is Baghdad
salary is 5000

Проверка пароля на надежность

In [ ]:
def checkPassword(password):
    has_upper = False
    has_lower = False
    has_num = False

    for ch in password:
        if ch >= "A" and ch <= "Z":
            has_upper = True
        if ch >= "a" and ch <= "z":
            has_lower = True
        if has_num >= 0 and has_num <= 9:
            has_num = True

    if len(password) >= 8 and has_upper and has_lower and has_num:
        return True
    else:
        return False

In [ ]:
def main():

    p = input("Введите пароль: ")
    if checkPassword(p):
        print("Это надежный пароль!")
    else:
        print("Это ненадежный пароль!")

if __name__ == "__main__":
    main()

Введите пароль: 99sSs$$$$*$*$$$$xXxXx
Это надежный пароль!

## Упражнение 3. Автомобиль

**Условие.** Создайте класс автомобиль и сохраните его в виде программного модуля. Импортируете класс и инициализируйте новый объект. Минимальный набор атрибутов: "марка", "вес", "мощность". Объявите методы: "движение вперед", "поворот направо", "поворот налево", "тормоз", "посигналить".

In [ ]:
%%writefile

In [ ]:
class Car():
    Name_Class = 'Cars'

    # Attributes
    def __init__ (self, mark, wight, power):
        self.mark = mark
        self.wight = wight
        self.power = power

    # Methods
    def move_forward(self):
        print("It's moving forward.")
    def turn_right(self):
        print("It's turning right.")
    def turn_left(self):
        print("It's turning left.")
    def brake(self):
        print("It's braking.")
    def honk(self):
        print("It's honking.")

#------
my_car = Car('BMW', '5 ton', '16 horses')
print(my_car.Name_Class)
print(my_car.mark)
print(my_car.wight)
print(my_car.power)

Cars
BMW
5 ton
16 horses

In [ ]:
def funDic(**kwargs):
    print(kwargs.items())

funDic(n1='One', n2='Two', n3='Three')

dict_items([('n1', 'One'), ('n2', 'Two'), ('n3', 'Three')])

In [ ]:
def fun(name, age):
    # return name, age
    print(name, age)

# print(fun('Fadilsa', 22))
value = fun('Fadilsa', 22)
# print(value)

Fadilsa 22

In [ ]:
def fun(lst):
  lst.append(99)

my_list = [1, 2, 3, 4, 5]
fun(my_list)
print(my_list)

[1, 2, 3, 4, 5, 99]

In [ ]:
numbers = [1, 2, 3, 4, 5]
sq_nums = list(map(lambda x: x ** 2, numbers))
print(sq_nums)

[1, 4, 9, 16, 25]

In [ ]:
numsList = [1, 2, 3, 4, 5]
x = list(map(lambda x: x ** 2, numsList))
print(x)

[1, 4, 9, 16, 25]

In [ ]:
seq = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Обратите внимание, что мы передаем последовательности разной длины
seq2 = (5, 6, 7, 8, 9, 0)
res = map(lambda x, y: x * y, seq, seq2)
print(res)
print(list(res))

<map object at 0x79ad91155570>
[5, 12, 21, 32, 45, 0]

In [ ]:
nums = [1, 2, 3, 4, 5, 8, 16] # Фильтруем четные числа
filter_nums = filter(lambda x: x % 2 == 0, nums)
print(list(filter_nums))

[2, 4, 8, 16]

In [ ]:
from functools import reduce
nums = [1, 2, 3, 4, 5]
sum_nums = reduce(lambda x, y: x + y, nums)
print('Sum of number:', sum_nums)

Sum of number: 15

In [ ]:
# Функция, возвращающая другую функцию

def nums(n):
    return lambda x: x * n

double = nums(9)
triple = nums(11)

print(double(2))
print(triple(3))

18
33

In [ ]:
# class person:
#     # Атрибут класса
#     personType = "wise man"

#     # Метод __init__ используется для инициализации объектов
#     def __init__(self, name, age):
#         self.name = name  # Атрибут объекта
#         self.age = age    # Атрибут объекта

#     # Метод класса
#     def greet(self):
#         return f"Hi, my name is {self.name} and I am {self.age} years old"

#     person1 = person('Fadilsa', 27)
#     person2 = person('Ali', 22)

#     print(person1.name)
#     print(person2.greet())

In [ ]:
class person:
    # attribute
    personType = "wise man"

    # metod to make object
    def __init__(self, name, age):
        self.name = name  # attribute
        self.age = age    # attribute

    # class method
    def greet(self):
        return f"Hi, my name is {self.name} and I am {self.age} years old"

    # make object
    person1 = person('ahmed', 27)
    person2 = person('fadilsa', 70)

    print(person1.name)
    print(person2.greet())

ahmed
Hi, my name is fadilsa and I am 70 years old

In [ ]:
class MathOperations:

    def add(self, a, b):
        return a + b

    @classmethod
    def multiplay(cls, a, b):
        return a * b

    @staticmethod
    def subtract(a, b):
        return a - b


math = MathOperations()
print(math.add(3, 5))
print(math.multiplay(3, 4))
print(math.subtract(5, 3))

8
12
2

In [ ]:
class Cat:
    Name_Class = 'Кошки'

    # Атрубуты
    def __init__ (self, wool_color, eyes_color, name):
        self.wool_color = wool_color
        self.eyes_color = eyes_color
        self.name = name

    # Методы
    def purr(self):
        print('Myyyr')
    def hiss(self):
        print('Shhh')
    def scrabble(self):
        print('Tsap-Tsarap')

my_cat = Cat('Белая', 'Зеленые', 'Мурка')
print("Наименование класса - ", my_cat.Name_Class)
print("Вот наша кошка:")
print("Цвет шерсти - ", my_cat.wool_color)
print("Цвет глаз - ", my_cat.eyes_color)
print("Кличка - ", my_cat.name)

Наименование класса -  Кошки
Вот наша кошка:
Цвет шерсти -  Белая
Цвет глаз -  Зеленые
Кличка -  Мурка

In [ ]:
### Класс
class Cat:
    Name_Class = 'Кошки'

    ### Атрибуты
    # Действия, которые надо выполнять при создании объекта "Кошка"
    def __init__ (self, wool_color, eyes_color, name):
        self.wool_color = wool_color
        self.eyes_color = eyes_color
        self.name = name

    ### Методы
    # Мурлыкать
    def purr(self):
        print("Myppp!")

    # Шипеть
    def hiss (self) :
        print("Шшшш!")

    # Царапаться
    def scrabble(self):
        print("Цап-царап!")

### Объект
my_cat = Cat('Белая', 'Зеленые', 'Мурка')

print("Наименование класса - ", my_cat.Name_Class)
print("Вот наша кошка:")
print("Цвет шерсти - ", my_cat.wool_color)
print("Цвет глаз - ", my_cat.eyes_color)
print("Кличка - ", my_cat.name)

Наименование класса -  Кошки
Вот наша кошка:
Цвет шерсти -  Белая
Цвет глаз -  Зеленые
Кличка -  Мурка

In [ ]:
import random

def generate_password():
    password_length = random.randint(7, 10)
    password = ''.join(chr(random.randint(33, 126)) for _ in range(password_length))
    return password

if __name__ == "__main__":
    print('RANDOMPASSWORD:', generate_password())

RANDOM PASSWORD: j^Q"|LEI



---

In [ ]:
from random import randint

def randomPassword():
    randomLength = randint(7, 10)

    result = ""
    for i in range(randomLength):
        randomChar = chr(randint(33, 126))
        result = result + randomChar

    return result

def main():
    print('Random Password =====>>>', randomPassword())

if __name__ == "__main__":
    main()

Random Password =====>>> !2$5I<*&g

In [ ]:
from random import randint

def randomPassword():
    randomLength = randint(7, 10)
    result = ""

    for i in range(randomLength):
        randomChar = chr(randint(33, 126))



---

In [ ]:
def factorial(n):
    # Базовый случай
    if n == 0:
        return 1
    # Рекурсивный случай
    else:
        return n * factorial(n - 1)

# Пример вызова
print(factorial(5))  # Вывод: 120

120

In [16]:
import random

def generate_password():
    passwordLength = random.randint(7, 10)

    password = "".join(chr(random.randint(33, 126)) for _ in range(passwordLength))
    return password

if __name__ == "__main__":
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())
    print("Random password ===================>>>>>", generate_password())

Random password ===================>>>>> ?.]$7"n
Random password ===================>>>>> aoJ<u.6X
Random password ===================>>>>> S]wk`TZ2I
Random password ===================>>>>> a!XWGs@
Random password ===================>>>>> 3?w4^Tl9+~
Random password ===================>>>>> '@f.~+o5(
Random password ===================>>>>> c'%"@C~
Random password ===================>>>>> )W}qx>o$
Random password ===================>>>>> <]!6y]@
Random password ===================>>>>> D[l<Zwp/BC
Random password ===================>>>>> :H,75kn6vE
Random password ===================>>>>> e\.7eZt
Random password ===================>>>>> /5:~JH)1

In [ ]:
from random import randint

def generate_password():
    passwordLength = randint(7, 10)
    result

In [ ]:
def powNums(a, b):
    print(a ** b)

powNums(2, 9)

512

In [ ]:
info = lambda name, age: name + age
print(info('Fadilsa', ' 27'))

Fadilsa 27

In [ ]:
powNums = lambda a, b: a ** b
print(powNums(2, 9))

512

In [ ]:
n_list = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, n_list))
print('Doubled:', doubled)

Doubled: [2, 4, 6, 8, 10]

In [ ]:
strings = ["hello", "world", "python"]
upper_case_strings = list(map(lambda x: x.upper(), strings))
print(upper_case_strings)

['HELLO', 'WORLD', 'PYTHON']

In [ ]:
words = ["apple", "banana", "cherry"]
len_every_string = list(map(lambda x: len(x), words))
print('Length:', len_every_string)

Length: [5, 6, 6]

In [ ]:
numbers = [1, 2, 3, 4, 5]
filter_greater_three = list(filter(lambda x: x > 3, numbers))
print('This number greater than 3 =====>', filter_greater_three)

This number greater than 3 =====> [4, 5]

In [ ]:
words = ["apple", "banana", "cherry", "date"]
a_in_words = list(filter(lambda words: 'a' in words, words))
print('There is `a` in this words:', a_in_words)

There is `a` in this words: ['apple', 'banana', 'date']

In [ ]:
numbers = [10, 15, 20, 25, 30]
prime_nums = (list(filter(lambda x: x % 2 == 0, numbers)))
print(prime_nums)

[10, 20, 30]

In [ ]:
numbers = [1, 2, 3, 4, 5]
from functools import reduce
xx = reduce(lambda x, y: x * y, numbers)
print('Произведение всех чисел:', xx)

Произведение всех чисел: 120

In [ ]:
from functools import reduce
words = ["hello", "world", "python"]
concatenate_strings = reduce(lambda word1, word2: word1 + ' ' + word2, words)
print(concatenate_strings)

hello world python

In [ ]:
numbers = [3, 7, 2, 9, 4]
from functools import reduce
# max_number = reduce(lambda x, numbers: x == max(numbers[]), numbers)
max_number = reduce(lambda x, y: x if x > y else y, numbers)
print('The max number in the list:', max_number)

The max number in the list: 9

In [ ]:
# Комбинирование map, filter и reduce
# Найти сумму квадратов чётных чисел

numbers = [1, 2, 3, 4, 5, 6]

even_nums = list(filter(lambda x: x % 2 == 0, numbers))
print('Evern numbers:', even_nums)

doubled = list(map(lambda x: x ** 2, even_nums))
print('Doubled even numbers:', doubled)

from functools import reduce
total = reduce(lambda x, y: x + y, doubled)
print('Total doubled even numbers:', total)

Evern numbers: [2, 4, 6]
Doubled even numbers: [4, 16, 36]
Total doubled even numbers: 56

In [ ]:
# Комбинирование map, filter и reduce
# Найти сумму квадратов чётных чисел

from functools import reduce
numbers = [1, 2, 3, 4, 5, 6]

sum_sq = reduce(lambda x, y: x + y, map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, numbers)))
print("Квадраты четных чисел =========>>>", sum_sq)
print("Квадраты четных чисел =========>>>", sum_sq)
print("Квадраты четных чисел =========>>>", sum_sq)
print("Квадраты четных чисел =========>>>", sum_sq)
print("Квадраты четных чисел =========>>>", sum_sq)

Квадраты четных чисел =========>>> 56
Квадраты четных чисел =========>>> 56
Квадраты четных чисел =========>>> 56
Квадраты четных чисел =========>>> 56
Квадраты четных чисел =========>>> 56

In [ ]:
# Найти произведение чисел больше 10

from functools import reduce
numbers = [5, 10, 15, 20, 25]

xx = reduce(lambda x, y: x * y, filter(lambda x: x > 10, numbers))
print('Result ==========>>>', xx)

Result ==========>>> 7500

In [ ]:
print()
print('Hiii')
print()

Hiii

In [ ]:
print('Hiii')

Hiii

In [ ]:
def fun(num):
  num += 10

my_num

In [ ]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

info(key1='value1', key2='value2', key3='value3')

key1: value1
key2: value2
key3: value3

In [ ]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

info(name='Fadilsa', age=25, city='Baghdad')

name Fadilsa
age 25
city Baghdad

In [ ]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

info(name='Ali', age='22', city='Baghdad')

name Ali
age 22
city Baghdad

In [ ]:
def fun():
  return 9

n = fun()
print(n)

9

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
def funo():
  print('hiiiiiiii')

funo()
funo()
funo()
funo()
funo()

hiiiiiiii
hiiiiiiii
hiiiiiiii
hiiiiiiii
hiiiiiiii

In [ ]:
def fun():
  return 'hiiiiiiiiii'

fun()

'hiiiiiiiiii'

In [ ]:
def greet(name):
  print(f'Hello, {name}')

greet('Sara')
greet('Ali')
greet('Cat')
greet('Son yoo')
greet('Putin')
greet('Saddam')
greet('My love')

Hello, Sara
Hello, Ali
Hello, Cat
Hello, Son yoo
Hello, Putin
Hello, Saddam
Hello, My love

In [ ]:
def sum(x, y):
  return x * y

print(sum(1, 2))

2

In [ ]:
def nums(a, b):
  return f'hi {a}, my name is {b}'
# nums('Saly', 'Fadil')
nums(b='Fadil', a='Saly')

'hi Saly, my name is Fadil'

In [ ]:
def s(a='ss'):
  return(f"it's {a}")
# s()
# s(a='aa')
print(s(a='aa'))

it's aa

In [ ]:
def fun(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

print(fun(1, 2, 3))

6

In [ ]:
def funo(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

print(funo(1, 2, 3, 4, 5))

15

In [ ]:
def func(*args):
  total = 0
  for i in args:
    total += i
  print(total)

func(1, 2, 3)
func(2, 4, 6)
func(3, 6, 9)

6
12
18

In [ ]:
def KeyWordsArgs(**kwargs):
  for key, value in kwargs.items():
    # print(key, value)
    print(f"{key}: {value}")

KeyWordsArgs(first=1, second=2)

first: 1
second: 2

In [ ]:
def fun(myfun):
  print(f'this is my {myfun}')

fun('function')

this is my function

In [ ]:
def fun(myfun):
  return f'this is my {myfun}'

print(fun('function'))

this is my function

In [ ]:
def fun(myfun1, myfun2):
  return f'these are my functions: {myfun1} and {myfun2}'

fun('function one', 'function two')

'these are my functions: function one and function two'

In [ ]:
def sumNums(n1, n2, n3):
  return f'Num1 + Num2 - Num3 == {n1 + n2 - n3}'

# sumNums(10, 20, 3)
print(sumNums(10, 20, 3))

Num1 + Num2 - Num3 == 27

In [ ]:
def funs(fun1, fun2, fun3):
  return f'total: {fun1 + fun2 + fun3}'

print(funs(fun1=2, fun2=5, fun3=2))

total: 9

In [ ]:
def funs(fun1, fun2='Fadilsa'):
    return f'{fun1} and {fun2}'

# print(funs(fun1='Ahmed'))
print(funs('Ahmed'))

Ahmed and Fadilsa

In [ ]:
def funs(*args):
  return args

print(funs(1, 2, 3, 4, 5))

(1, 2, 3, 4, 5)

In [ ]:
def fun(*args):
  return args

fun(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [ ]:
def fun(*args):
  return sum(args)

# fun(1, 2, 3, 4, 5)
# fun(f'{1, 2, 3, 4}')
print('The sum of all nums:', fun(1, 2, 3, 4, 5))

The sum of all nums: 15

In [ ]:
def fun(**kwargs):
  for key, value in kwargs.items():
    print(f'{key} = {value}')

fun(name='Ali', age=22, city='Baghdad')
# fun(name('Ahmed', age=27, city='Izhevsk'))

name = Ali
age = 22
city = Baghdad

CLASSES AND OBJECTS

In [ ]:
class cat:
  pass

In [ ]:
class cat:

    # class methods
    def sh(self):
        print('shikhhh')
    def ss(self):
        print('sssss')
    def ikh(self):
        print('ikhhh')

__main__.cat