In [2]:
from requests import get
response = get("https://storage.yandexcloud.net/academy.ai/the_movies_dataset.zip")

In [4]:
with open('the_movies_dataset.zip', 'wb') as f:
    f.write(response.content)

In [7]:
# streaming التدفق
with open('the_movies_dataset.zip', 'wb') as f:
    for chunk in response.iter_content(chunk_size=8192):
        f.write(chunk)

In [8]:
# كود لفك ضغط الملف
!unzip -qo "the_movies_dataset.zip" -d ./the_movies_dataset

In [10]:
FILE_PATH = './the_movies_dataset'

In [11]:
import os
os.listdir(FILE_PATH)

['keywords.csv',
 'ratings_small.csv',
 'ratings.csv',
 'credits.csv',
 'links_small.csv',
 'links.csv',
 'movies_metadata.csv']

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv(f'{FILE_PATH}/movies_metadata.csv')
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [18]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [21]:
df.shape

(45466, 24)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [23]:
# Удалим из датафрейма избыточные данные (Remove unnecessary data from the dataframe)
df = df.drop(['imdb_id'], axis=1)  # حذف عمود imdb_id
df = df.drop(['adult'], axis=1)     # حذف عمود adult
df = df.drop(['belongs_to_collection'], axis=1)  # حذف عمود belongs_to_collection
df = df.drop(['homepage'], axis=1)  # حذف عمود homepage
df = df.drop(['video'], axis=1)     # حذف عمود video
df = df.drop(['poster_path'], axis=1)  # حذف عمود poster_path
df = df.drop(['production_companies'], axis=1)  # حذف عمود production_companies

In [ ]:
#################################################################

In [1]:
import pandas as pd
movies_df = pd.read_csv("movies_metadata.csv")
print(movies_df)

FileNotFoundError: [Errno 2] No such file or directory: 'movies_metadata.csv'

Tasks

In [ ]:
import numpy as np

# Create an array with shape (3, 4)
data = np.arange(12).reshape(3, 4)
print("data:\n", data)
print("Minimum value:", data.min())       # Minimum value
print("Sum of all values:", data.sum())   # Sum of all values
print("Mean value:", data.mean())         # Mean value
print("Standard deviation:", data.std())   # Standard deviation
print("Maximum value:", data.max())       # Maximum value

print("Sum of each row:", data.sum(axis=1))   # Sum along axis 1 - result for each row
print("Sum of each column:", data.sum(axis=0)) # Sum along axis 0 - result for each column

print("Standard deviation of each row:", data.std(axis=1))   # Standard deviation of each row
print("Standard deviation of each column:", data.std(axis=0)) # Standard deviation of each column

print("Index of the maximum element of each row:", data.argmax(axis=1))   # Index of the maximum element in each row
print("Index of the maximum element of each column:", data.argmax(axis=0)) # Index of the maximum element in each column

print("Maximum element of each row:", data.max(axis=1))   # Maximum element in each row
print("Maximum element of each column:", data.max(axis=0)) # Maximum element in each column

data:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
Minimum value: 0
Sum of all values: 66
Mean value: 5.5
Standard deviation: 3.452052529534663
Maximum value: 11
Sum of each row: [ 6 22 38]
Sum of each column: [12 15 18 21]
Standard deviation of each row: [1.11803399 1.11803399 1.11803399]
Standard deviation of each column: [3.26598632 3.26598632 3.26598632 3.26598632]
Index of the maximum element of each row: [3 3 3]
Index of the maximum element of each column: [2 2 2 2]
Maximum element of each row: [ 3  7 11]
Maximum element of each column: [ 8  9 10 11]

In [ ]:
# Матричные операции

# Create another array A1
A1 = np.arange(9).reshape(3, 3)
print("A1:\n", A1)
print("Transposed A:\n", A1.T)  # Transpose

# Create an array A2
A2 = np.ones(9).reshape(3, 3)
print("A1 @ A2:\n", A1 @ A2)  # Matrix multiplication

print("Dot product:\n", A1.dot(A2))  # Dot product
print("Diagonal of the matrix:\n", A1.diagonal())  # Diagonal of the matrix

A1:
 [[0 1 2]
 [3 4 5]
 [6 7 8]]
Transposed A:
 [[0 3 6]
 [1 4 7]
 [2 5 8]]
A1 @ A2:
 [[ 3.  3.  3.]
 [12. 12. 12.]
 [21. 21. 21.]]
Dot product:
 [[ 3.  3.  3.]
 [12. 12. 12.]
 [21. 21. 21.]]
Diagonal of the matrix:
 [0 4 8]

In [ ]:
print("Data type:", A1.dtype)
print("Number of elements:", A1.size)
print("Memory occupied:", A1.nbytes)

# Create an array with int8 type
C = np.arange(9, dtype=np.int8).reshape(3, 3)
print("Data type:", C.dtype)
print("Number of elements:", C.size)
print("Memory occupied:", C.nbytes)

Data type: int64
Number of elements: 9
Memory occupied: 72
Data type: int8
Number of elements: 9
Memory occupied: 9

In [ ]:
import numpy as np

# إنشاء مصفوفة A1
A1 = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

# إنشاء مصفوفة A2
A2 = np.array([[1, 1, 1],
                [1, 1, 1],
                [1, 1, 1]])

print("A1:\n", A1)
print("A2:\n", A2)
print(f"A1 {A1.shape} + A2 {A2.shape} = A3 {(A1 + A2).shape}:\n", A1 + A2)

A1:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
A2:
 [[1 1 1]
 [1 1 1]
 [1 1 1]]
A1 (3, 3) + A2 (3, 3) = A3 (3, 3):
 [[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

In [ ]:
A2 = np.array([1, 1, 1])
print("A1:\n", A1)
print("A2:\n", A2)
print(f"A1 {A1.shape} + A2 {A2.shape} = A3 {(A1 + A2).shape}:\n", A1 + A2)

A1:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
A2:
 [1 1 1]
A1 (3, 3) + A2 (3,) = A3 (3, 3):
 [[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

In [ ]:
A2 = 1
print("A1:\n", A1)
print("A2:\n", A2)
print(f"A1 {A1.shape} + A2 (int) = A3 {(A1 + A2).shape}:\n", A1 + A2)

A1:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
A2:
 1
A1 (3, 3) + A2 (int) = A3 (3, 3):
 [[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

In [ ]:
A1 = np.arange(10).reshape(2, 1, 5)
A2 = np.arange(14).reshape(2, 7, 1)
print("A1:\n", A1)
print("A2:\n", A2)
print(f"A1 {A1.shape} + A2 {A2.shape} = A3 {(A1 + A2).shape}:\n", A1 + A2)

# Result
# A1:
#  [[[0 1 2 3 4]]
#
#  [[5 6 7 8 9]]]
# A2:
#  [[[ 0]
#   [ 1]
#   [ 2]
#   [ 3]
#   [ 4]
#   [ 5]
#   [ 6]]
#
#  [[ 7]
#   [ 8]
#   [ 9]
#   [10]
#   [11]
#   [12]
#   [13]]]
# A1 (2, 1, 5) + A2 (2, 7, 1) = A3 (2, 7, 5):
#  [[[ 0  1  2  3  4]
#   [ 1  2  3  4  5]
#   [ 2  3  4  5  6]
#   [ 3  4  5  6  7]
#   [ 4  5  6  7  8]
#   [ 5  6  7  8  9]
#   [ 6  7  8  9 10]]
#
#  [[12 13 14 15 16]
#   [13 14 15 16 17]
#   [14 15 16 17 18]
#   [15 16 17 18 19]
#   [16 17 18 19 20]
#   [17 18 19 20 21]
#   [18 19 20 21 22]]]

A1:
 [[[0 1 2 3 4]]

 [[5 6 7 8 9]]]
A2:
 [[[ 0]
  [ 1]
  [ 2]
  [ 3]
  [ 4]
  [ 5]
  [ 6]]

 [[ 7]
  [ 8]
  [ 9]
  [10]
  [11]
  [12]
  [13]]]
A1 (2, 1, 5) + A2 (2, 7, 1) = A3 (2, 7, 5):
 [[[ 0  1  2  3  4]
  [ 1  2  3  4  5]
  [ 2  3  4  5  6]
  [ 3  4  5  6  7]
  [ 4  5  6  7  8]
  [ 5  6  7  8  9]
  [ 6  7  8  9 10]]

 [[12 13 14 15 16]
  [13 14 15 16 17]
  [14 15 16 17 18]
  [15 16 17 18 19]
  [16 17 18 19 20]
  [17 18 19 20 21]
  [18 19 20 21 22]]]

In [ ]:
import numpy as np

array1 = np.array([4, 8, 9])
array2 = np.array([1, 2, 3])

print("Element-wise multiplication:", array1 * array2)
print("Element-wise addition:", array1 + array2)
print("Element-wise subtraction:", array1 - array2)

Element-wise multiplication: [ 4 16 27]
Element-wise addition: [ 5 10 12]
Element-wise subtraction: [3 6 6]
Element-wise division: [4. 4. 3.]

In [ ]:
import numpy as np

In [ ]:
array4 = np.empty(3)
print(array4)

[1. 1. 1.]

In [ ]:
array5 = np.arange(5)
print(array5)

[0 1 2 3 4]

In [ ]:
array5 = np.arange(3)
print(array5)

[0 1 2]

In [ ]:
array_zeros = np.zeros((3, 3))
print(array_zeros)

array_ones = np.ones((2, 2))
print("\n", array_ones)

array_empty = np.empty((4, 4))
print("\n", array_empty)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

 [[1. 1.]
 [1. 1.]]

 [[2.95592934e-316 0.00000000e+000 2.41907520e-312 2.37663529e-312]
 [2.22809558e-312 2.46151512e-312 6.79038654e-313 2.35541533e-312]
 [2.46151512e-312 6.79038654e-313 2.35541533e-312 6.79038654e-313]
 [2.14321575e-312 2.22809558e-312 2.14321575e-312 0.00000000e+000]]

In [ ]:
large_array_empty = np.empty((1000, 1000))
large_array_empty

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
import numpy as np

oned = np.arange(21)

print("نوع البيانات:", oned.dtype)
print("عدد العناصر:", oned.size)
print("حجم الذاكرة:", oned.nbytes)
print("شكل المصفوفة:", oned.shape)
print("عدد الأبعاد:", oned.ndim)

نوع البيانات: int64
عدد العناصر: 21
حجم الذاكرة: 168
شكل المصفوفة: (21,)
عدد الأبعاد: 1

In [ ]:
matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12],
                   [13, 14, 15, 16]])

print(matrix, "\n")
print("شكل:", matrix.shape)
print("عدد الأبعاد:", matrix.ndim)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

شكل: (4, 4)
عدد الأبعاد: 2

In [ ]:
reshaped_1d = matrix.reshape(16)
print(reshaped_1d, "\n")

reshaped_2d = matrix.reshape(2, 8)
print(reshaped_2d, "\n")

new_array = matrix.reshape(2, 2, 2, 2)
print(new_array, "\n")
print("شكل:", new_array.shape, "\n")
print("عدد الأبعاد:", new_array.ndim, "\n")

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

[[ 1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16]]

[[[[ 1  2]
   [ 3  4]]

  [[ 5  6]
   [ 7  8]]]


 [[[ 9 10]
   [11 12]]

  [[13 14]
   [15 16]]]]

شكل: (2, 2, 2, 2)

عدد الأبعاد: 4

In [ ]:
import numpy as np

one = np.arange(10)
print("عنصر المصفوفة 1D بالفهرس 3 (بدءًا من 0):", one[3])
print("آخر عنصر في المصفوفة 1D (أو الأول من النهاية):", one[-1])
print("تقطيع عناصر المصفوفة 1D (من 3 إلى 8 غير شامل):", one[3:8])

عنصر المصفوفة 1D بالفهرس 3 (بدءًا من 0): 3
آخر عنصر في المصفوفة 1D (أو الأول من النهاية): 9
تقطيع عناصر المصفوفة 1D (من 3 إلى 8 غير شامل): [3 4 5 6 7]

In [ ]:
two = np.arange(21).reshape(3, 7)  # إنشاء مصفوفة 3 × 7
print("الحصول على الصف الثاني:", two[2])  # العد يبدأ من الصفر
print("الحصول على العنصر في الصف 2 والعمود 4:", two[2, 4])  # العد يبدأ من الصفر
print("الحصول على الصفين 0 و 1:", two[0:2])  # نطاقات في بايثون تشمل القيمة الابتدائية ولا تشمل النهاية
print("الحصول على العمود 5 من جميع الصفوف:", two[:, 5])
print("الحصول على آخر ثلاثة أعمدة من الصفين 1 و 2:", two[1:3, -3:])

الحصول على الصف الثاني: [14 15 16 17 18 19 20]
الحصول على العنصر في الصف 2 والعمود 4: 18
الحصول على الصفين 0 و 1: [[ 0  1  2  3  4  5  6]
 [ 7  8  9 10 11 12 13]]
الحصول على العمود 5 من جميع الصفوف: [ 5 12 19]
الحصول على آخر ثلاثة أعمدة من الصفين 1 و 2: [[11 12 13]
 [18 19 20]]

In [ ]:
two[0, 0] = 33
print(two)

two[1:, :3] = 0
print(two)

[[33  1  2  3  4  5  6]
 [ 7  8  9 10 11 12 13]
 [14 15 16 17 18 19 20]]
[[33  1  2  3  4  5  6]
 [ 0  0  0 10 11 12 13]
 [ 0  0  0 17 18 19 20]]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = [a + b for a, b in zip(list1, list2)]
print(result)  # [5, 7, 9]

[5, 7, 9]

In [ ]:
import numpy as np

array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 + array2
print(result)  # [5 7 9]

[5 7 9]

In [ ]:
# الطرح
result_sub = array1 - array2  # [-3 -3 -3]
print(result_sub)

# الضرب
result_mul = array1 * array2  # [ 4 10 18]
print(result_mul
      )
# القسمة
result_div = array1 / array2  # [0.25 0.4 0.5]
print(result_div)

[-3 -3 -3]
[ 4 10 18]
[0.25 0.4  0.5 ]

In [ ]:
bool_array1 = np.array([True, False, True])
bool_array2 = np.array([False, False, True])
result_logical = bool_array1 & bool_array2  # [False False  True]
result_logical

array([False, False,  True])

In [ ]:
import numpy as np

# Create an array A with shape (4, 6)
a = np.arange(24).reshape(4, 6)
print("Array A:\n", a)

# Create a view B from A
b = a[:2, 3:]
print("Array B:\n", b)

# Modify an element in B
b[1, 2] = -1
print("Array B after modification:\n", b)
print("Array A after modification:\n", a)

Array A:
 [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]
Array B:
 [[ 3  4  5]
 [ 9 10 11]]
Array B after modification:
 [[ 3  4  5]
 [ 9 10 -1]]
Array A after modification:
 [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 -1]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

In [ ]:
# Create a copy of B
b = a[:2, 3:].copy()  # Make a copy
print("Array B (copy):\n", b)

# Modify an element in the copy
b[1, 2] = -1
print("Array B after modification (copy):\n", b)
print("Array A after modification (copy):\n", a)

Array B (copy):
 [[ 3  4  5]
 [ 9 10 -1]]
Array B after modification (copy):
 [[ 3  4  5]
 [ 9 10 -1]]
Array A after modification (copy):
 [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 -1]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]